body {
    display: flex;
    flex-direction: column;
    background-image: url("./assets/abusingstimulants.jpg");
    justify-content: center;
    align-items: center;
}

h1{
    color: #070E12;
    font-family: monospace, sans-serif;
}

a{
    text-decoration: none;
    color: #070E12; 
    font-family: monospace, sans-serif;
    border: 1px solid #070E12;
    border-radius: 5px;
    padding: 5px;
    background-color: #ffffff00;
    transition: background-color .2s ease-out;
}

a:hover{
    background-color: #444444af;
}

.credits {
    color: #070E12; 
    font-family: monospace, sans-serif;
}

.picgrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.test {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #070E12;
    font-family: monospace, sans-serif;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    padding: 20px;
    box-shadow: 5px 5px 15px #2d3835cb;
    transition: box-shadow .5s ease-in;
    margin: 20px;
}

.test:hover {
    box-shadow: 15px 15px 15px #2d3835cb;
}

img {
    height: 450px;
    width: 450px;
}
